.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.block_title {
    h2 {
        font-size: 1.6em;
        font-weight: bold;
    }
    &::before {
        content: "";

        width: 2.2em;
        height: 100%;
        position: absolute;
        left: -1.4em;

    }
}